<div class="Contain presentation animate__animated animate__fadeIn">

  <table>
    <caption><h1>Mes projets</h1></caption>
    <tr>
      <th><u>Projet</u></th>
      <th><u>Git Back-end</u></th>
      <th><u>Git Front-end</u></th>
    </tr>
    <tr>
      <td><a href="https://secu.mesprogrammes.eu" class="presentation animate__animated animate__fadeIn">Gestion d'une société de gardiennage</a></td>
      <td><a href="https://github.com/CedricBg/test2109">api .net</a></td>
      <td><a href="https://github.com/CedricBg/test2109Angular">Angular</a></td>
    </tr>
    <tr>
      <td><a href="https://secu.mesprogrammes.be" class="presentation animate__animated animate__fadeIn">Gestion d'une société de gardiennage</a></td>
      <td><a href="https://github.com/CedricBg/test2109">api .net</a></td>
      <td><a href="https://github.com/CedricBg/test2109Angular">Maui</a></td>
    </tr>
    <tr>
      <td>Gestion d'une collection de film</td>
      <td></td>
      <td><a href="https://github.com/CedricBg/Film_Angular">Angular</a></td>
    </tr>
    <tr>
      <td>Cinéma tech</td>
      <td></td>
      <td><a href="https://github.com/CedricBg/cinebel">WPF</a></td>
    </tr>
  </table>
</div>
