<div class="content">
<div class="grandient"></div>
  <nav class="animate__animated animate__slideInDown">
      <h2>Mes programmes</h2>
      <ul>
          <li><a [routerLink]="['./accueil']">Accueil</a></li>
          <li><a [routerLink]="['./presentation']">Présentation</a></li>
          <li><a [routerLink]="['./cv']">Cv</a></li>
          <li><a [routerLink]="">Projet</a></li>
      </ul>
  </nav>
  <div class="center">
    <router-outlet></router-outlet>
  </div>

  <footer>
          <blockquote class="animate__animated animate__fadeInLeft badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://api.badgr.io/public/assertions/a5eEsN0rRkiCGee4hkfzkw"><img src="https://media.badgr.com/uploads/badges/assertion-a5eEsN0rRkiCGee4hkfzkw.png" width="120px" height="120px"></a><script async="async" src="https://badgr.com/assets/widgets.bundle.js"></script></blockquote>
          <blockquote class="animate__animated animate__fadeInLeft badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://api.badgr.io/public/assertions/3fcmk7F5TYqYylsJCVNmcQ?identity__email=bogaert%40outlook.com"><img src="https://api.badgr.io/public/assertions/3fcmk7F5TYqYylsJCVNmcQ/image" width="120px" height="120px"></a><script async="async" src="https://badgr.com/assets/widgets.bundle.js"></script></blockquote>
          <blockquote class=" animate__animated animate__fadeInLeftbadgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://api.badgr.io/public/assertions/2dQ21LCZTCq_YRDaa5Y3Pw"><img src="https://api.badgr.io/public/assertions/2dQ21LCZTCq_YRDaa5Y3Pw/image" width="120px" height="120px"></a><script async="async" src="https://badgr.com/assets/widgets.bundle.js"></script></blockquote>
          <blockquote class="animate__animated animate__fadeInRight badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://api.badgr.io/public/assertions/r1iYD4ZOQ3-LVpUqSEBulg?identity__email=bogaert%40outlook.com"><img src="https://api.badgr.io/public/assertions/r1iYD4ZOQ3-LVpUqSEBulg/image" width="120px" height="120px"></a><script async="async" src="https://badgr.com/assets/widgets.bundle.js"></script></blockquote>
          <blockquote class="animate__animated animate__fadeInRight badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://api.badgr.io/public/assertions/21ymlviDT1el8dZ8n8CCog?identity__email=bogaert%40outlook.com"><img src="https://api.badgr.io/public/assertions/21ymlviDT1el8dZ8n8CCog/image" width="120px" height="120px"></a><script async="async" src="https://badgr.com/assets/widgets.bundle.js"></script></blockquote>
          <blockquote class="animate__animated animate__fadeInRight badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://api.badgr.io/public/assertions/FEgMUcIAS1i9pllUBfE3pw?identity__email=bogaert%40outlook.com"><img src="https://api.badgr.io/public/assertions/FEgMUcIAS1i9pllUBfE3pw/image" width="120px" height="120px"></a><script async="async" src="https://badgr.com/assets/widgets.bundle.js"></script></blockquote>
        </footer>

</div>

