<div class="message animate__animated animate__fadeIn"><h1>Bienvenue sur mon site !</h1>
  <p>Bonjour et bienvenue sur mon site personnel. Je suis ravi de vous accueillir ici !<br>
  Je m'appelle Bogaert Cédric. Je suis un développeur passionné spécialisé dans les technologies C# et Angular. Ce site a été créé pour vous permettre de mieux me connaître et de découvrir mon parcours professionnel ainsi que mes projets passionnants.
  Je suis ravi de vous accueillir ici, où vous pourrez en apprendre davantage sur mon parcours professionnel.
  Mon objectif est de partager avec vous mes compétences, mes connaissances techniques et ma passion pour la programmation.</p>

  <p>Explorez la section de mon CV pour découvrir mon parcours, mes formations et mes expériences professionnelles passées.
  Vous y trouverez également des informations sur les langages et les frameworks que je maîtrise.</p>

  <p>Si vous avez des questions, des propositions de collaboration ou simplement envie de discuter, je serais ravi d'échanger avec vous.</p>

  <p>Merci encore d'être ici, et j'espère que vous apprécierez votre visite sur mon site !</p>

  <p>Cordialement,<br>
  Cédric</p>

</div>
<div class="contenu_accueil">
  <span class="animate__animated animate__fadeInTopLeft     animate__delay-1s"><img src="../../../assets/Angular_logo.png" alt="logo angular"></span>
  <span class="animate__animated animate__fadeInBottomLeft  animate__delay-1s"><img src="../../../assets/Csharp_logo.png" alt="logo csharp"></span>
  <span class="animate__animated animate__fadeInTopRight    animate__delay-1s"><img src="../../../assets/CSS3_logo.png" alt="logo css3"></span>
  <span class="animate__animated animate__fadeInBottomRight animate__delay-1s "><img src="../../../assets/html_logo.png" alt="logo html 5"></span>
</div>
