 .contenu_accueil{
  display:flex;
  flex-flow: row wrap;
 }

 .contenu_accueil span:nth-of-type(1){
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top:200px;
  left:1200px;
 }
 .contenu_accueil span:nth-of-type(2){
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top:450px;
  left:1300px;
 }
 .contenu_accueil span:nth-of-type(3){
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top:200px;
  left:1550px;
 }
 .contenu_accueil span:nth-of-type(4){
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top:470px;
  left:1650px;
 }
 .message{
  margin-left:10%;
  margin-top:5vh;
  width:40%;
  color: white;
  word-spacing:0.2rem;
  line-height:2rem;
  overflow: auto;
}
.message h1{
  text-align: center;
  margin-bottom: 4%;
}
.message p{
padding-bottom: 5px;
}
.message p:last-child{
padding-top: 5px;
padding-left:5px;
}

 @media screen and (max-width: 1791px) {
  .contenu_accueil span:nth-of-type(1){
    left:1000px;
  }
  .contenu_accueil span:nth-of-type(2){
    left:1100px;
  }
  .contenu_accueil span:nth-of-type(3){
    left:1350px;
  }
  .contenu_accueil span:nth-of-type(4){
    left:1450px;
  }
  .message{
    margin-left:10%;
    margin-top:5vh;
    width:40%;
    color: white;
    word-spacing:0.2rem;
    line-height:2rem;
  }
  .message h1{
    text-align: center;
    margin-bottom: 4%;
 }
 .message p{
  padding-bottom: 5px;
 }
 .message p:last-child{
  padding-top: 5px;
  padding-left:5px;
 }
 }
 @media screen and (max-width: 1601px) {
  .contenu_accueil span:nth-of-type(1){
    left:800px;
  }
  .contenu_accueil span:nth-of-type(2){
    left:900px;
  }
  .contenu_accueil span:nth-of-type(3){
    left:1150px;
  }
  .contenu_accueil span:nth-of-type(4){
    left:1250px;
  }
  .message{
    margin-left:5%;
    margin-top:5vh;
    width:45%;
    color: white;
    word-spacing:0.2rem;
  }
  .message h1{
    text-align: center;
    margin-bottom: 4%;
 }
 .message p{
  padding-bottom: 5px;
 }
 .message p:last-child{
  padding-top: 5px;
  padding-left:5px;
 }
 }

 @media screen and (max-width: 1385px) {
  .contenu_accueil span:nth-of-type(1){
    left:700px;
  }
  .contenu_accueil span:nth-of-type(2){
    left:800px;
  }
  .contenu_accueil span:nth-of-type(3){
    left:1050px;
  }
  .contenu_accueil span:nth-of-type(4){
    left:1150px;
  }
  .message{
    margin-left:5%;
    margin-top:5vh;
    width:45%;
    color: white;
    word-spacing:0.2rem;
    height: 70vh;

  }
  .message h1{
    text-align: center;
    margin-bottom: 4%;
 }
 .message p{
  padding-bottom: 5px;
 }
  .message p:last-child{
    padding-top: 5px;
    padding-left:5px;
  }
 }

 @media screen and (max-width: 1180px) {
  .contenu_accueil{
    position: absolute;
    top:10px;
    overflow: hidden;
  }
  .message{ display: flex;
    flex-direction: column;
    margin-left:20%;
    margin-top:5vh;
    width:60%;
    color: white;
    word-spacing:0.2rem;
    overflow: scroll;
    height: 70vh;

  }
  .message h1{
    text-align: center;
    margin-bottom: 4%;
 }
 .message p{
  padding-bottom: 5px;
 }
 .message p:last-child{
  padding-top: 5px;
  padding-left:5px;
 }
}
@media screen and (max-width: 600px) {
  .message{
    margin-left:10%;
    width:80%;
    height: 70vh;
  }
}
@media screen and (max-height: 600px) {
  .contenu_accueil{
    overflow: hidden;
}
}
