<div class="contenu_accueil">
  <span class="animate__animated animate__fadeInTopLeft     animate__delay-1s"><img src="../../../assets/Angular_logo.png" alt="logo angular"></span>
  <span class="animate__animated animate__fadeInBottomLeft  animate__delay-1s"><img src="../../../assets/Csharp_logo.png" alt="logo csharp"></span>
  <span class="animate__animated animate__fadeInTopRight    animate__delay-1s"><img src="../../../assets/CSS3_logo.png" alt="logo css3"></span>
  <span class="animate__animated animate__fadeInBottomRight animate__delay-1s "><img src="../../../assets/html_logo.png" alt="logo html 5"></span>
</div>
