*{
  color: whitesmoke;
}
.presentation
{
  display:flex;
  flex-flow: column wrap;
  width:50vw;
  justify-content: center;
  margin-left:25vw;
  overflow: auto;
}
.presentation h1{
  text-align: center;
  padding-bottom: 20px;
}
.presentation div{
  line-height: 2.4;
  height:65vh;
}
@media screen and (max-width:500px) {
  *{
    font-size:small;
  }
  .presentation
  {
  width:100%;
  margin-left:1px;
  overflow: auto;
  }
}
