<div class="presentation animate__animated animate__fadeIn">
  <h1>Quelques mots</h1>
  <div>
    Bonjour, je m'appelle Bogaert Cédric. J'ai commencé ma carrière dans le domaine de la logistique, mais ma passion pour le développement web m'a amené à me spécialiser dans ce domaine.

    Après avoir étudié le commerce à Bruxelles en néerlandais, j'ai travaillé pendant trois ans comme chauffeur pour un laboratoire d'analyse médicale, puis j'ai rejoint UPS en tant que chauffeur de courrier express, où j'ai acquis une solide expérience en logistique.

    Ensuite, j'ai travaillé en tant que sous-traitant pour la firme Starck, principalement chargé du transport de mobilier pour Ikea. Cette expérience m'a permis de développer mes compétences en coordination et en gestion des livraisons.

    En 2006, j'ai saisi une opportunité passionnante et j'ai commencé à travailler en tant que développeur web pour une société hongroise appelée kmnpt.kft. J'y ai acquis une expertise en PHP, HTML et CSS, contribuant au développement de divers projets web.

    En 2008, j'ai rejoint Techcity en tant que support client, où j'ai fourni une assistance technique et résolu des problèmes pour le compte de Mobistar. Cette expérience m'a permis de développer mes compétences en communication et en résolution de problèmes.

    Ensuite, j'ai travaillé chez Fact Security de 2009 à 2021, où j'ai acquis une solide expertise en matière de sécurité et de gestion des risques. Mon rôle consistait à assurer la sécurité des sites et des installations, ainsi qu'à gérer les situations d'urgence.

    En 2021, j'ai décidé de poursuivre ma passion pour le développement web en suivant une formation longue en .NET et Angular chez Technobel. Cette formation m'a permis d'approfondir mes connaissances techniques et de me tenir à jour avec les dernières tendances du développement web.

    Je suis maintenant à la recherche de nouvelles opportunités professionnelles dans le domaine du développement web, où je pourrai mettre à profit mes compétences en logistique, en développement web et en résolution de problèmes. Je suis motivé, autonome et prêt à relever de nouveaux défis.
  </div>
</div>
